.loginForm {

  width: 40%;
  height: 400px;
  padding: 20px;
  margin: 0 auto;

  & form {
    border: 3px solid #f2f2f2;
    padding: 16px;

    & .imgContainer {
      text-align: center;
      margin: 24px auto;

      & .img {
        width: 200px;
        height: 200px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 auto;
      }
    }

    & .email, & .pass {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    & button {
      background-color: var(--green);
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      font-size: 17px;
    }

    & button:hover {
      opacity: 0.8;
    }

    & a {
      text-decoration: none;
      color: white;
    }

  }

}